@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Mitr', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BBH Hegarty', serif;
}